<!DOCTYPE html>
<html lang = "pt-br">
    <body > 
        <script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <h2> Cadastro </h2>
        <form action="./create" method = "POST" id = "criar">
            <div id = "criar"></div>
            <label> ID: </label>
            <input name = "_id" type = "text" placeholder="Digite o ID"/>
            <br/>
            <br/>
            <label>Nome:</label>
            <input name = "nome" type = "text"  placeholder="Digite o nome do produto"/>
            <br/>
            <br/>
            <label>Marca:</label>
            <input name = "marca" type = "text"  placeholder="Digite a marca do produto"/>
            <br/>
            <br/>  
            <button name = "botao" type = "submit" >Confirmar</button>
        </form>
        <script>
            $(document).ready(function  () {
                $("#criar").on("submit",function  (e) {
                    e.preventDefault();
                    console.log();
                    $.post("./create",$(this).serialize(), function( data ) {
                        console.log(data);
                    });
                })
            });
        </script>
        <br/>
        
        <h2> Atualizar </h2>
        <form action="./update" method = "POST" id = "atualizar">
            <label> ID: </label>
            <input name = "_id" type = "text" placeholder="Digite o ID"/>
            <br/>
            <br/>
            <label>Nome:</label>
            <input name = "nome" type = "text"  placeholder="Digite o nome do produto"/>
            <br/>
            <br/>
            <label>Marca:</label>
            <input name = "marca" type = "text"  placeholder="Digite a marca do produto"/>
            <br/>
            <br/>
            <button name = "botao" type = "submit" >Confirmar</button>
        </form>
        
        <script>
            $(document).ready(function  () {
                $("#atualizar").on("submit",function  (e) {
                    e.preventDefault();
                    console.log();
                    $.post("./update",$(this).serialize(), function(data) {
                        console.log(data);
                    });
                });
            });
        </script>
        
        <h2> Excluir </h2>
        <form action="./delete" method = "POST" id = "deletar">
            <label> ID: </label>
            <input name = "_id" type = "text" placeholder="Digite o ID"/>
            <button name = "botao" type = "submit" >Confirmar</button>
        </form>
        
        <script>
            $(document).ready(function  () {
                $("#deletar").on("submit",function  (e) {
                    e.preventDefault();
                    console.log();
                    $.post("./delete",$(this).serialize(), function(data) {
                        console.log(data);
                    });
                });
            });
        </script>
        
        <form action = "./listar" method = "GET" id = "listar">
            <h2>Listar</h2>
            <div id = "dados"></div>
            <button name = "botao" type = "submit" id = "button" >Confirmar</button>
        </form>
        
        <script>
        $(document).ready(function  () {
            $("#listar").on("submit",function  (e) {
                e.preventDefault();
                $.get("./listar",$(this).serialize(), function  (data) {
                    for (var j = 0; j <= 20; j++) {
                        var _id = JSON.stringify(data[j]._id);
                        var _id = JSON.parse(_id);
                        var nome = JSON.stringify(data[j].nome);
                        var nome = JSON.parse(nome)
                        var marca = JSON.stringify(data[j].marca);
                        var marca = JSON.parse(marca);
                        document.getElementById("dados").innerHTML +=  ( "<br/>" + _id + "<br/>" + nome + "<br/>" + marca ); 
                        button.disabled = true;
                    } 
                });
            });
        });
    
    </script>
    </body>
    </html> 
